* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#banner {
  background-image: url("./images/banner.jpg");
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}
